.details_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 48px 64px 80px 64px;
}

.details_main {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 60px;
}

.navigation {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}

.link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-main);
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 0;
  height: 6px;
  background-color: var(--color-button);
  transition: var(--transition);
}

.link:hover::after,
.active::after {
  width: 85px;
}

.outlet {
  max-width: 631px;
  min-height: 588px;
}

.details_line {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-light);
  border: none;
  margin: 0;
  margin-bottom: 44px;
}

.details_footer {
  display: flex;
  gap: 40px;
}
