.truncated {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
  text-overflow: ellipsis;
}

.full {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  white-space: normal;
}
