.form_container {
  width: 100%;
  max-width: 641px;
  max-height: 588px;
  padding: 44px 57px;
  border: 1px solid var(--color-gray-light);
  border-radius: 10px;
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-main);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input,
.textarea {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 18px;
  background: var(--color-badges);
}

.textarea {
  height: 118px;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--color-gray);
}

.calendar_icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.error {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-button);
  font-size: 14px;
  z-index: 100;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  background-color: var(--color-button);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--color-white);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  transition: var(--transition);
  &:hover {
    background-color: var(--color-button-hover);
  }
}
