#root {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6c717b;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-yellow: #ffc531;
  --color-gray-light: #dadde1;
  --color-inputs: #f2f4f7;
  --color-badges: #f7f7f7;
  --color-white: #ffffff;
  --transition: all 0.3s ease;
}
